.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
}

.sorting-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 20px;
}

.search-string {
    font-size: 1.3rem;
    border: 0;
    color: inherit;
}

.sorting-container .form-control {
    min-width: 200px;
}

.sorting-container > select {
    width: 20%;
}

.page-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.page-container > form > .row {
    padding: 1em;
}

.filters-button {
    background-color: #4e1bc4;
    color: white;
    border-radius: 0.25rem;
    border: 0;
    padding: 0.5em 1em; 
}

.select-brands-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.select-brands-option label {
    color: white;
    font-weight: 300;
}

.select-brands-option input[type="checkbox"] {
    border: 1px solid white;
    border-radius: 2px;
    box-shadow: none;
    accent-color: white;
    transform: scale(1.5);
    -webkit-appearance: none; /* For WebKit browsers */
    -moz-appearance: none;    /* For Firefox */
    appearance: none;
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: relative;
}

.select-brands-option input[type="checkbox"]:checked {
    background-color: #9cd1ef;
    border-color: #9cd1ef;
}

.select-brands-option input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 1px;
    width: 3px;
    height: 5px;
    border: solid #4e1bc4;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.controls {
    display: flex;
    align-items: center;
    width: 92%;
    position: absolute;
    bottom: 20px;
    justify-content: space-evenly;
    gap: 1em
}

.controls > button:nth-child(1) {
    background-color: #4e1bc4;
    color: white;
    border-radius: 0.25rem;
    border: 0;
    padding: 0.5em 1em; 
    width: 50%;
}

.controls > button:nth-child(2) {
    background-color: red;
    color: white;
    border-radius: 0.25rem;
    border: 0;
    padding: 0.5em 1em;
    width: 50%;
}

.page-btn {
    color: white;
    background-color: #4e1bc4;
    border-radius: 5px;
    border: 0;
    padding: 0.5em 1em;
    margin: 0 1em;
}

.page-btn:hover {
    color: #9cd1ef;
}