@model GameServiceModel

<a asp-controller="Game" asp-action="Details" asp-route-id="@Model.Id">
<div class="game-card-container">
    <div class="game-card">
        <div class="image-container">
            <img class="game-cover-image" src="@Model.ImgUrl" alt="Game Image">
        </div>
        <div class="text-center">
            <div class="game-name-container">
                <p class="game-name">@Model.Name</p>
            </div>
            <p class="game-price">@($"{Model.Price:f2}") BGN</p>
        </div>
    </div>
</div>

</a>