.background {
    background-image: url("../../images/hero_page_background.png");
    width: 100%;
    height: 50vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: none;
    padding: 0;
}

footer .container {
    padding: 0 0.75rem 0 0.75rem;
    max-width: 540px;
}

nav.border-bottom {
    border-bottom: 0 !important;
}

h1.hero-title {
    color: white;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.hero-header {
    position: relative;
    border-bottom: 5px solid #4e1bc4;
}

.background-shadow {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 50%;
    z-index: 2;
    width: 100%;
    height: 50vh;
}

.hero-body {
    padding: 0.5em;
    margin-top: 3rem;
}

.hero-body-games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
}

.hero-body-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 10rem auto 3rem auto;
}

.hero-body-heading-content {
    padding: 1em;
    background-color: #4e1bc4;
    color: white;
    width: 100%;
    border-radius: 40px;
}

.hero-body-heading-content > h3 {   
    text-align: center;
    margin: 0;
}

.all-games-link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    margin-top: 2rem;
}

.all-games-link-content {
    padding: 0.5em;
    background-color: #4e1bc4;
    color: white;
    width: 10%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-games-link-content > a {   
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
}