@model CheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
}

<div class="card mt-3 checkout-card">
    
    <div class="card-header">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <form method="post">
            
            <div class="mb-3">
                <label asp-for="Address"></label>
                <textarea type="text" asp-for="Address" required class="w-100 border-0"></textarea>
                <span asp-validation-for="Address" class="small text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="TotalPrice"></label>
                <p>@Model.TotalPrice.ToString("C")</p>
            </div>
            
            <button type="submit" class="btn btn-primary">
                Finish Ordering
            </button>
            
        </form>
    </div>
    
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/checkout.css" />
}
