.dropdown-menu {
    padding: 0.5em;
    width: 50% !important;
    min-width: 7rem;
    display: none;  /* Hide dropdown by default */
    position: absolute;
    z-index: 1000;
}

.dropdown-menu > li {
    width: 50%;
}

.dropdown-menu > li > form > button {
    padding: 0;
}

i {
    font-size: 1.2rem;
}

.dropdown > a {
    width: 50px;
}

.sign-in {
    min-width: 50px;
    justify-content: flex-end;
    flex-direction: row;
}

/* Ensure dropdown stays aligned to the right */
.dropdown-menu-end {
    right: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
    margin-top: 0; 
}

/* Optional fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

ul#accountDropdown {
    position: absolute !important;
}

.sign-in > .dropdown {
    max-width: 40px;
    text-align: right;
    flex-grow: 1;
}