@model IEnumerable<GameServiceModel>

@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-header">
    <div class="background">
        
    </div>
    <h1 class="hero-title">Embark on your next adventure</h1>
    <div class="background-shadow"></div>
</section>

@section Styles
{
    <link rel="stylesheet" href="~/css/Home/home-page.css" />
}
