@model IEnumerable<GameServiceModel>

@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-header">
    <div class="background">
        
    </div>
    <h1 class="hero-title">Embark on your next adventure</h1>
    <div class="background-shadow"></div>
</section>

<div class="hero-body-heading">
    <div class="hero-body-heading-content">
        <h3>Our newest games</h3>
    </div>
</div>

<section class="hero-body d-flex align-items-center justify-content-center">
    <div class="hero-body-games-container">
        @foreach (var game in Model)
        {
            <partial name="_GamePartial" model="@game"/>
        }
    </div>
</section>

<div class="all-games-link-container">
    <div class="all-games-link-content">
        <a asp-area="" asp-controller="Game" asp-action="All">View All</a>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/Home/home-page.css" />
}
